//  Theme Main color variables

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0;

// social web apps/brands colors
$youtube:               red;
$whatsapp:              #4fce5d;
$facebook:              #3b5998;
$twitter:               #0077b5;
$woocommerce:   	    #7F54B3 !default;
$instagram:             $orange;

// Theme colors
$primary:               $green;
$tomato:                tomato;
$red:           	    #a00    !default;
$green:         	    #7ad03a;
$blue:          	    #2ea2cc !default;
$shadow:                #222832;
$shadow-a:              #333e48;
$button-dark:           #2c2d33;
$public-yellow:         #fed700;
$basic-yellow:          #e8e524;
$test-color:            #f5f5f5;
$sub-footer-bg:         #e5e5e5;
$cp-text-color-light:   #f7f7f7;
$blog-wrapper:          #dcf3e5;
$header-orange:         #fd7820;
$new-blue:              #283d86;
$text-grey:             #757575;
$dark-purple:           #995db5;
$light-purple:          #ebd4ef;
$desaturated-blue:      hsl(224, 23%, 55%);
$bright-blue:           hsl(245, 75%, 52%);
$bright-blue-hover:     hsl(244, 83%, 68%);
$dark-blue:             hsl(223, 47%, 23%);
$cp-footer-bg:          rgba(247,247,247,1);
$cc-text-color-dark:    rgba(51,51,51,1);
$light-purple-100:      rgba(156,39,176,0.2);

$dark-green:            #0d733c !default;
$orange:        	    #ffba00 !default;
$dark-orange:           #f7941f !default;

// Other
$contentbg:             #fff !default;                                     // Content BG - Tabs (active state)
$subtext:               #767676 !default;                                  // small, breadcrumbs etc
$woo-primary:           #7F54B3 !default;                                    // Primary color for buttons (alt) 

// Other functions

$carousel-control-width: 10%;

$woo-primarytext:       desaturate(lighten($woo-primary, 50%), 18%) !default;    // Text on woo-primary color bg
 
 $secondary:         desaturate(lighten($woo-primary, 40%), 21%) !default;    // Secondary buttons
 $secondarytext:     desaturate(darken($secondary, 60%), 21%) !default;   // Text on secondary color bg
 
 $highlight:         adjust-hue($woo-primary, 150deg) !default;               // Prices, In stock labels, sales flash
 $highlight-green:   lighten($green, 30%) !default;
 $highlightext:      desaturate(lighten($highlight, 50%), 18%) !default;  // Text on highlight color bg
 
 